<h1>Homepage for open bottle hk</h1>

<div class="container-fluid">

  <div id="home-opennow">

    <h3>OPEN BOTTLE NOW<br>
    HAPPY HOUR DEALS RIGHT NOW IN HK</h3>

    <div class="bar-home-row">

      <% bars.each do |elem| %>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="thumbnail">
          <% elem.each do |bar| %>
            <a href=""><img src="<%= elem.image %>" alt=""></a>
            <span class="elem-name"><p><%= elem.name %></p></span>
            <span class="elem-location"><p><%= elem.location %></p></span>
            <span class="elem-deal"><p><%= elem.deal %></p></span>
            <span class="elem-bookmark">
              <button class ="elem-bookmark-btn" data-id="<%= elem._id%>">Bookmark this</button>
            </span>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




