<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login, Sign up Header</title>

  <link rel="stylesheet" href="assets/demo.css">
  <link rel="stylesheet" href="assets/header-login-signup.css">
  <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>

<header class="header-login-signup">

  <div class="header-limiter">

    <h1><a href="/">Open<span>Bottle HK</span></a></h1>

    <ul>
      <!-- <li><a href="#">Login</a></li>
      <li><a href="#">Sign up</a></li> -->
    <form id="signup-form">
      <li>Sign up for OBHK! ===></li>
      <input type="email" placeholder="Email" name="email">
      <input type="password" placeholder="Password"name="password">
      <input type="password" placeholder="Password confirm"name="password_confirmation">
      <button id="submit-button-home" type="submit">Submit</button>
    </form>
    <form id="signin-form">
      <li>Sign in for OBHK! ===></li>
      <input type="email" placeholder="Email" name="email">
      <input type="password" placeholder="Password"name="password">
      <button id="submit-button-home" type="submit">Submit</button>
    </form>
    </ul>

  </div>

</header>

<div id="home-page-header">
  <div class="row">
    <div id="home-filter-bar"> <!-- WRAP THIS IN A FORM -->
      <select id="select-day" class="selectpicker col-md-2 col-sm-12 col-xs-12" data-width="fit" data-style="btn-primary" title="All days">
        <option data-icon="glyphicon-list-alt" value="">All days</option>
        <option class="day-monday">Monday</option>
        <option class="day-tuesday">Tuesday</option>
        <option class="day-wednesday">Wednesday</option>
        <option class="day-thursday">Thursday</option>
        <option class="day-friday">Friday</option>
        <option class="day-saturday">Saturday</option>
        <option class="day-sunday">Sunday</option>
      </select>
      <select id="select-time" class="selectpicker col-md-2 col-sm-12 col-xs-12" data-width="fit" data-style="btn-primary" title="All times">
        <option data-icon="glyphicon-time" value="">All times</option>
        <option class="time-before5" value="1659">Before 5pm</option>
        <option class="time-5pm" value="1700">5pm</option>
        <option class="time-6pm" value="1800">6pm</option>
        <option class="time-7pm" value="1900">7pm</option>
        <option class="time-8pm" value="2000">8pm</option>
        <option class="time-9pm" value="2100">9pm</option>
        <option class="time-10pm" value="2200">10pm</option>
        <option class="time-11pm" value="2300">11pm</option>
      </select>
      <select id="select-location" class="selectpicker col-md-2 col-sm-12 col-xs-12" data-width="fit" data-style="btn-primary" title="All locations">
        <option data-icon="glyphicon-screenshot" value="">All locations</option>
        <option class="loc-ifc">Admiralty</option>
        <option class="loc-causewaybay">Causeway Bay</option>
        <option class="loc-central">Central</option>
        <option class="loc-ifc">IFC</option>
        <option class="loc-lkf">Lan Kwai Fong</option>
        <option class="loc-soho">Soho</option>
        <option class="loc-lkf">Sheung Wan</option>
        <option class="loc-wanchai">Wan Chai</option>

      </select>
      <select id="select-price" class="selectpicker col-md-2 col-sm-12 col-xs-12" data-width="fit" data-style="btn-primary" title="All prices">
        <option data-icon="glyphicon-usd" class="all-prices" value="">All prices</option>
        <option class="under50" value="50">Under 50 HKD</option>
        <option class="under100" value="100">Under 100 HKD</option>
        <option class="under200" value="200">Under 200 HKD</option>
        <option class="under300" value="300">Under 300 HKD</option>
        <option class="under400" value="400">Under 400 HKD</option>
        <option class="under500" value="500">Under 500 HKD</option>
      </select>
      <select id="select-drink"class="selectpicker col-md-2 col-sm-12 col-xs-12" data-width="fit" data-style="btn-primary" title="All drinks">
        <option data-icon="glyphicon-glass" class="all-drink" value="">All drinks</option>
        <option class="wine">Wine</option>
        <option class="beer">Beer</option>
        <option class="champagne">Champagne</option>
        <option class="champagne">Cocktails</option>
        <option class="spirits">Spirits</option>
      </select>
      <select id="select-features"class="selectpicker col-md-2 col-sm-12 col-xs-12" data-width="fit" data-style="btn-primary" title="All features">
        <option data-icon="glyphicon-thumbs-up" class="all-features" value="">All features</option>
        <option class="">2 for 1</option>
        <option class="">Free food</option>
        <option class="">Free flow</option>
      </select>
    <button id="filter-button" class="btn btn-warning">SUBMIT</button>
    </div>
  </div>
</div>

<div class="container-fluid">
<div id="home-opennow">
  <span><h3>OPEN BOTTLE NOW</span><br>
    HAPPY HOUR DEALS RIGHT NOW IN HK</h3>
    <div class="bar-home-row">
      <% @bars.each do |elem| %>
          <% elem.each do |bar| %>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
              <a href="<%=bar_path(bar)%>"><img src=<%=bar.image%> alt=""></a>
              <span class="elem-name"><p><%= bar.name %></p></span>
              <span class="elem-location"><p><%= bar.location %></p></span>
              <span class="elem-deal"><p><%= bar.deal %></p></span>
              <span class="elem-bookmark">
                <button class ="elem-bookmark-btn" data-id=<%= bar.id%>>Bookmark this</button>
              </span>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
</div>
</div>




